<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>User Request Data: </h2>
<input type="text" name="inputText" [(ngModel)]="inputText">

<h2>Service Name: </h2>
<select (change)="saveData()" [(ngModel)]="inputService" >
  <option value="state" >state</option>
  <option value="city" >city</option>
  <option value="MasterData" >MasterData</option>
</select>

<h2>Output: </h2>
<textarea style="background-color:black;color:white;" [(ngModel)]='output' rows="20" cols="120">                             
</textarea>
<router-outlet></router-outlet>
